*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero,
.footer{
    background-color: #1f2937;
}
.hero-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 250px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.navbar{
    list-style-type: none;
    display: flex;
    gap: 50px;
}
.link,
.hero-banner p
{
    font-size: 18px;
    color: #e5e7eb;
    opacity: 0.8;
}
.hero-banner{
    display: flex;
    justify-content: space-between;
    padding: 15px 150px 50px 150px;
    margin-top: 25px;
}
.banner-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.banner-text,
.banner-image{
    display: flex;
    flex-direction: column;
}
.banner-text{
    flex:2
}
.banner-cta{
    color: white;
    background-color: #3882f6;
    width: 20%;
    padding: 7px 40px;
    margin-top: 35px;
    border: none;
    border-radius: 5px;
}
.banner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    height: auto; 
    background-color: #7f8694;
}
.banner-image p{
    color: black;
    font-size: 20px;
    font-style: italic;
}
.information{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.information .title{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.information .carousel{
    display: flex;
    gap: 50px;
}
.information .card{
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}
.information .description{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #2d2b2b;
    opacity: 0.9;
    width: 150px;
}
.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px ;
}
.quote p{
    width: 1000px;
    font-size: 26px;
    font-style: italic;
}
.quote h3{
    margin-left: 750px;
}
.cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    margin: 30px 250px;
    padding: 20px 200px;
}
.cta button{
    color: white;
    border: 3px solid white;
    background-color: #3882f6;
    padding: 7px 40px;
    border-radius: 5px;
}
.footer{
    color: white;
    text-align: center;
    padding: 30px 0px;
}